<li ng-repeat="user in users">
    <div class="item-content people-item">
        <div class="item-media">
            <img class="img-avatar" src="{{user.profile_image_url}}" alt="{{user.name}}" ng-click="showUserTimeline(user.id_str)" />
        </div>
        <div class="item-inner text-left"><span ng-click="showUserTimeline(user.id_str)"><a><strong>{{user.name}}</strong></a></span></div>
        <div class="item-inner remove">
            <span class="glyphicon glyphicon-remove" ng-click="unfollowClick(user.id_str)"></span>
        </div>
    </div>
</li>